

#created-button-1, #created-button-2 {
    line-height: 1.5em !important;
}

.my-com-date {
    color: rgb(91, 95, 101);
    text-shadow: 0 0 0px #000000;
    font-weight: 600;
    line-height: 34px;
    padding: 1px 4px 1px 4px;
    background: #fdfdfd;
    border-radius: 3px;
    font-size: 20px;
}

.out-comebacker-content-btn:hover {
    text-decoration: none !important;
    transition: 0.3s !important;
}

.out-comebacker-content-btn:focus {
    text-decoration: none;
    color: #fff;
}

.out-comebacker-content-btn:active {
    border: 1px solid #fff;
}

a:active, a:focus {
    outline: none;
}

input, textarea {
    outline: none;
}

input:active, textarea:active {
    outline: none;
}
#order_form span:not(.displayCurrentPrice) {
    font-size: 14px;



}
:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

button:active, button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

.pl_field_address_info {
    height: 0;
    display: block;
}

.rub-ramka {
    margin-top: 22px;
    margin-bottom: 18px;
    background: rgba(129, 51, 255, 0.03);
    padding: 12px 15px !important;
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-weight: 400;
    font-family: roboto condensed, arial;
    border-radius: 4px;
    text-indent: 0 !important;
    text-align: left;
    margin-left: 5% !important;
    margin-right: 5% !important;
    text-shadow: none;
}

@media screen and (max-width: 600px) {
    .rub-ramka {
        text-align: left !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        line-height: 31px;
    }
}

.mycomm-name {
    margin-bottom: 9px;
    font-family: Arial;
    color: #2d2d2d;
}

.mycomm-text {
    font-family: Arial;
    color: #191919;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 35px !important;
    margin-top: 10px;
}

#product-block {
    background: url(img/order_tube.png) center center no-repeat;
    height: 338px;
    width: 100% !important;
    display: block;
    margin: 0px 0px 0px 0px !important;
    margin: 0 !important;
    /* margin: 0 0 0 -10% !important;*/
    background-size: contain;
    text-align: center;
}

#product-block .plashka2-t {
    color: #fff915;
    font-size: 20px;
    line-height: 25px;
}

#product-block .plashka2 b {
    text-shadow: 1px 1px 2px #373838;
}

#product-block .plashka2 {
    position: absolute;
    background: url(img/sale-bg-2.png) center center no-repeat;
    background-size: 190px 262px;
    width: 190px !important;
    height: 138px;
    padding: 144px 30px 0 0;
    line-height: 22px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin: 48px 0 0 -10px !important;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
    z-index: 5;
}

@media screen and (max-width: 767px) {
    #product-block {
        width: 100% !important;
        height: 224px !important;
        margin: 0 !important;
        /* margin: 0 0 0 -10% !important;*/
    }

    #product-block .plashka2 {
        background-size: 135px 188px;
        width: 110px !important;
        height: 98px;
        padding: 95px 25px 0 0;
        line-height: 16px;
        font-size: 13px;
        margin: 15px 0 0 0px !important;
    }

    #product-block .plashka2-t {
        font-size: 14px;
    }
}

@media screen and (max-width: 200px) {
    #product-block .plashka2 {
        display: none;
    }
}

.button {
    font-family: arial;
}

@media screen and (max-width: 440px) {
    .mycomm-name {
        display: flex !important;
    }

    .ava-img {
        height: 100% !important;
    }
}

#order_form {
    background: rgb(242, 243, 246) none repeat scroll 0% 0%;
    padding: 20px;
    max-width: 600px;
    border: 3px dashed red;
    font-family: Arial;
    margin-bottom: 20px;
}

#order_form h2 {
    margin: 0px 0px 10px;
    padding: 0px;
    line-height: 32px;
}

#order_form label {
    width: 100%;
    display: block;
    /* border-bottom: 1px solid gray; */
    padding: 5px 8px;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    line-height: 14px;
    padding-top: 10px;
}

@media screen and (max-width: 720px) {
    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        text-align: center
    }
    #order_form label{
        width: auto;
    }
}

#order_form label.vertical {
    border: medium none ! important;
}

#order_form .order_form_pole {
    padding: 10px;
    margin: 10px;
}

#order_form input {
    font-size: 17px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #909090;
    max-width: 498p100%x;
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
}



#order_form button {
    box-shadow: 1px 1px 9px 4px rgb(245, 151, 142) inset;
    background: rgb(242, 69, 55);
    border-radius: 3px;
    border: 1px solid rgb(208, 39, 24);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 24px;
    font-weight: 500;
    padding: 16px 21px 16px 21px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(129, 14, 5);
    margin-top: 10px;
    transition: 0.2s;
}

#order_form button:hover {
    background: rgb(198, 45, 31)
}
.ifr_button span{
    font-size:24px!important;
    text-transform: uppercase;
}
#order_form button:active {
    position: relative;
    top: 1px;
}

.ttu {
    text-transform: uppercase;
}

#order_form_success {
    position: relative;
}

input[type="checkbox"] {
    width: 0px !important;
    height: 0px !important;
}

.left_count {
    background: red none repeat scroll 0% 0%;
    padding: 23px;
    margin: 12px 0px;
    width: 217px;
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgb(0, 0, 0), 0px -1px 0px rgb(0, 0, 0), 0px 1px 0px rgb(0, 0, 0), 0px 1px 0px rgb(0, 0, 0), -1px 0px 0px rgb(0, 0, 0), 1px 0px 0px rgb(0, 0, 0), -1px 0px 0px rgb(0, 0, 0), 1px 0px 0px rgb(0, 0, 0), -1px -1px 0px rgb(0, 0, 0), 1px -1px 0px rgb(0, 0, 0), -1px 1px 0px rgb(0, 0, 0), 1px 1px 0px rgb(0, 0, 0), -1px -1px 0px rgb(0, 0, 0), 1px -1px 0px rgb(0, 0, 0), -1px 1px 0px rgb(0, 0, 0), 1px 1px 0px rgb(0, 0, 0);
}
